In [9]:
mydictionary={10: "aman", 11:"govind"}
print(mydictionary)

print(mydictionary[11])

# to change the value
mydictionary[10]="Yash"

print(mydictionary)

# to insert new value
mydictionary[12]="isha"

print(mydictionary)

{10: 'aman', 11: 'govind'}
govind
{10: 'Yash', 11: 'govind'}
{10: 'Yash', 11: 'govind', 12: 'isha'}

In [13]:
# to update the value
mydictionary={10:"aman","salary":198}
mydictionary["salary"]=mydictionary["salary"]+50

print(mydictionary)

{10: 'aman', 'salary': 248}

In [28]:
data="hello"
mydict={"total":0}
for i in data:
    mydict[total]+=1
print(mydict)

KeyError: 2

In [31]:
myset={10,20,30,11,10,56}
print(myset)
myset.add(99)
myset.discard(20)
print(myset)

{20, 56, 10, 11, 30}
{99, 56, 10, 11, 30}

In [32]:
myset1={10,20,30}
myset2={40,50,60}
myset1.union(myset2)

{10, 20, 30, 40, 50, 60}

In [34]:
mylist=[10,20]
mylist.append(30)
print(mylist)

[i**2 for i in [10,20,30,27,45]]

[10, 20, 30]

[100, 400, 900, 729, 2025]

In [35]:
{i:1 for i in [10,20,40,50]}

{10: 1, 20: 1, 40: 1, 50: 1}

In [36]:
# functions
# set of statement=> logic execute
# code reusability
print("hey user")

hey user

In [43]:
def msg(username):
    print("hello", username)
    

msg("Tushar")

hello Tushar

def addno(a,b):
    print(a+b)

addno(10,20)

In [44]:
def addno(a,b): print(a+b)

addno(10,20)

30

In [45]:
def addNO(a,b): #parameter
    print("A=>", a ,"B=>",b)
addNO(10,45) #  argument

A=> 10 B=> 45

In [46]:
def addNO(a,b):
    print("A=>", a ,"B=>",b)
addNO(b=10,a=45) # keyword argument

A=> 45 B=> 10

In [47]:
def addNO(a,b=23):
    print("A=>", a ,"B=>",b)
addNO(10)

A=> 10 B=> 23

In [48]:
def addNO(a,b=23):
    print("A=>", a ,"B=>",b)
addNO(10,45)

A=> 10 B=> 45