In [1]:
# while loop
# condition (iteration x)

In [ ]:
i=1
while(i==1):
    print("hey")
# run infinite

In [2]:
i=1
while(i<5):
    print(i,"hey")
    i=i+1

1 hey
2 hey
3 hey
4 hey

In [4]:
i=1
sum=0
while(i<=15):
    sum=sum+i
    i=i+1
print(sum)

120

In [6]:
i=50
while(i>=24):
    if(i%2==0):
        print("even",i)
    else:
        print("odd",i)
    i=i-1

even 50
odd 49
even 48
odd 47
even 46
odd 45
even 44
odd 43
even 42
odd 41
even 40
odd 39
even 38
odd 37
even 36
odd 35
even 34
odd 33
even 32
odd 31
even 30
odd 29
even 28
odd 27
even 26
odd 25
even 24

In [7]:
num=50
sum=0
while(num>=24):
    if(num%2==0):
        sum=sum+num
    num=num-1
print(sum)

518

In [5]:
num=2
even=0
odd=0
while(num<=37):
    if(num%2==0):
        even=even+1
    else:
        odd=odd+1
    num=num+1
print("total number of even number:", even, "total number of odd number:", odd)

total number of even number: 18 total number of odd number: 18

In [9]:
num=3
sum=0
while(num<=42):
    if(num%3==0):
        sum=sum+num
    num=num+1
print(sum)

315

In [12]:
#78 to 51
num=78
sum=0
count=0
while(num>=51):
    if(num%2!=0):
        sum=sum+num
        count=count+1
    num=num-1
print(sum)
print(count)

896
14

In [18]:
# Armsrong Number
n=153
total=n
sum=0
while(n>0):
    rem= n%10
    n= n//10
    sum=sum+ rem**3
if(total==sum):
    print("it is armstrong number")
else:
    print("not a armstrong")

it is armstrong number

In [21]:
num=3
t=1
while(t<=10):
    table=t*num
    t=t+1
    print(num*t==table)

False
False
False
False
False
False
False
False
False
False